- variant_detail_types = bundled_product.variants.map(&:details).flat_map(&:keys).uniq.sort
- optionized_id = "#{bundled_product.id.optionize}-#{key}"

.box{ id: "bundled-product-#{optionized_id}", data: { variant_component_product: { counter: "#selected-#{optionized_id}" }.to_json } }
  .box__head
    .grid
      .grid__cell.grid__cell--60
        %h4.box__heading= bundled_product.name
        %span= t('workarea.admin.create_catalog_product_kits.variants.create.sku_selection_prompt')
        = link_to t('workarea.admin.create_catalog_product_kits.variants.create.copy_product'), bundled_product_create_catalog_product_kit_path(product, bundled_product_id: bundled_product.id), data: { remote_content: { insert_after: "#bundled-product-#{optionized_id}" }.to_json }
        = link_to "#copy-product-info-#{key}", data: { tooltip: '' } do
          = inline_svg('workarea/admin/icons/help.svg', class: 'svg-icon svg-icon--small svg-icon--blue', title: t('workarea.admin.catalog_variants.new.options.learn_more'))

        .tooltip-content{ id: "#copy-product-info-#{key}" }= t('workarea.admin.create_catalog_product_kits.variants.create.copy_product_info_html')

      .grid__cell.grid__cell--40
        .grid.grid--auto.grid--right.grid--middle
          .grid__cell
            %span{ id: "selected-#{optionized_id}"}= t('workarea.variant_components.selected', count: 0)
          .grid__cell
            %span{ id: "count-#{optionized_id}" }
          .grid__cell= text_field_tag 'filter_skus', '', id: nil, class: 'text-box text-box--medium', placeholder: t('workarea.admin.create_catalog_product_kits.variants.filter_placeholder'), data: { filterable_input: { group: "product_#{optionized_id}", counter: "#count-#{optionized_id}" }.to_json }
  .box__body.component-sku-table
    %table
      %thead
        %tr
          %th= check_box_tag 'select_all', true, false, id: nil, data: { variant_component_select_all: '' }
          %th= t('workarea.admin.fields.sku')
          - variant_detail_types.each do |type|
            %th= type.titleize
          %th= t('workarea.admin.fields.quantity')

      %tbody
        - bundled_product.variants.each do |variant|
          - field_prefix = "components[#{key}][]"
          = hidden_field_tag "#{field_prefix}[product_id]", bundled_product.id, id: nil
          = hidden_field_tag "#{field_prefix}[sku]", variant.sku, id: nil

          %tr{ data: { filterable: { group: "product_#{optionized_id}", value: variant.admin_filter_value }.to_json } }
            %td= check_box_tag "#{field_prefix}[selected]", true, false, data: { variant_component_sku: variant.sku }, id: "components_#{key}_selected_#{variant.sku}"
            %td= variant.sku
            - variant_detail_types.each do |type|
              %td= variant.fetch_detail(type).join(', ')
            %th= number_field_tag "#{field_prefix}[quantity]", 1, class: 'text-box text-box--small', id:  "components_#{key}_quantity_#{variant.sku}"
