- if variant.product.bundle?
  .section
    %h2= t('workarea.admin.catalog_variants.edit.components.label')
    %table
      %thead
        %tr
          %th= t('workarea.admin.catalog_variants.edit.components.sku')
          %th= t('workarea.admin.catalog_variants.edit.components.quantity')
          %th.align-center= t('workarea.admin.catalog_variants.edit.components.remove')
      %tbody
        - @variant.components.each do |component|
          = hidden_field 'components[][id]', component.id
          = hidden_field 'components[][product_id]', component.product_id

          %tr
            %td= component.sku
            %td
              = hidden_field_tag 'components[][sku]', component.sku, id: nil
              = text_field_tag 'components[][quantity]', quantity, id: nil, class: 'text-box text-box--small'
            %td.align-center= check_box_tag 'components[][remove]', true, false, id: "remove_component_#{component.sku}", title: t('workarea.admin.catalog_variants.edit.components.remove_title', sku: sku)
        %tr{ data: { cloneable_row: '' } }
          %td
            .property
              = text_field_tag 'components[][sku]', nil, id: nil, class: 'text-box', title: t('workarea.admin.catalog_variants.edit.components.new_sku'), placeholder: t('workarea.admin.catalog_variants.edit.components.new_sku_placeholder')
          %td
            .property
              = text_field_tag 'components[][quantity]', nil, id: nil, class: 'text-box text-box--small', title: t('workarea.admin.catalog_variants.edit.components.new_sku_quantity'), placeholder: t('workarea.admin.catalog_variants.edit.components.new_sku_quantity_placeholder')
          %td.align-center -
