.grid.grid--rev
  .grid__cell.grid__cell--60-at-medium

    .product-details__name
      %h1.product-details__heading= product.name

      %p.product-details__id
        %span= product.id

      .product-prices.product-prices--details
        = render 'workarea/storefront/products/pricing', product: product

      - if product.description.present?
        .product-details__description
          %p= truncated_product_description(product, t('workarea.storefront.products.read_more'))

      = render 'workarea/storefront/products/bundled_products', product: product

      = append_partials('storefront.product_details', product: product)

      %p.product-details__full-details=link_to t('workarea.storefront.products.view_full_details'), product_path(product, color: params[:color]), class: 'text-button'

  .grid__cell.grid__cell--40-at-medium

    .product-details__primary-image
      = link_to(product_image_url(product.primary_image, :zoom), target: '_blank', class: 'product-details__primary-image-link', data: { dialog_button: '' }) do
        = image_tag product_image_url(product.primary_image, :detail), alt: 'View Larger Image', class: 'product-details__primary-image-link-image'

    - if product.images.length > 1
      .product-details__alt-images
        .grid.grid--auto
          - product.images.each_with_index do |image, index|
            .grid__cell
              .product-details__alt-image
                - button_class = index == 0 ? 'product-details__alt-image-link product-details__alt-image-link--selected' : 'product-details__alt-image-link'
                = link_to(image_tag(product_image_url(image, :small_thumb), alt: t('workarea.storefront.products.zoom')), product_image_url(image, :zoom), class: button_class, target: '_blank', data: { alternate_image_button: { src: product_image_url(image, :detail) }.to_json })

          = append_partials('storefront.product_details_alt_images', product: product)
